body {
  font-family: Roboto;
  &.has-drawer {
    overflow: hidden;
    height: 100vh;
  }
}

.navbar {
  .navbar-brand {
    align-items: start;
  }
  .navbar-brand a.navbar-item.is-active {
    background-color: transparent;
  }
}

.hero {
  &.has-hero-background {
    position: relative;
  }
  .hero-background {
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}
.layout-enter-to,
.layout-leave-active {
  transition: opacity 100ms ease-out;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: scale(1.025);
}
.page-enter-to,
.page-leave-active {
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}

.nav-enter,
.nav-leave-to {
  opacity: 0;
  transform: scale(1.05);
}
.nav-enter-to,
.nav-leave-active {
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}