body {
  font-family: Roboto;
}
.navbar-brand {
  align-items: start;
}
.hero.is-dark a.navbar-item:hover {
  background-color: transparent;
}

.hero {
  &.has-hero-background {
    position: relative;
  }
  .hero-background {
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
.page-enter-to,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: all 100ms ease;
}

.nav-enter,
.nav-leave-to {
  opacity: 0;
  transform: scale(1.05);
}
.nav-enter-to,
.nav-leave-active {
  transition: transform 200ms ease, opacity 400ms ease;
}